
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Tell us what you think
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Shared Channels Experience: Our strategy for 2022 to 2025
      </h1>

      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
                About the Shared Channels Experience strategy
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
              The journey so far
              </a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
              Our vision and goals
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                Goal 1: Simplify DWP's customer and colleague
                experiences, so people get the support they need faster
              </a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                Goal 2: Build a consistent DWP experience, so people get the same
                level of service regardless of which part of DWP it comes from
              </a>
              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="#">
                  Goal 3: Understand DWP's users and their personal situations by
                  joining up data and insight, so we can tailor their experience
                </a>
              </li>
              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="#">
                  Goal 4: Design for inclusion, so everyone can access the
                  support they need
                </a>
              </li>
              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="#">
                  How we will know we've made progress
                </a>
              </li>
              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="#">
                  Tell us what you think
                </a>
              </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">

          <h2 class="govuk-heading-m">
            Goal 1: Simplify DWP's customer and colleague
            experiences, so people get the support they need faster.
          </h2>

          <p>Intro from Rachel's content</p>

          <h3 class="govuk-heading-s">
            Our intended outcomes are:
          </h3>

          <p>We will make it quick and simple for a customer to tell us their problems or questions and then route them to the right support through their channel of choice
DWP Signposting [This is the router that Sharon and Anne are working on with GDS to help customers find the right support from our benefits – essentially front door routing] will use information provided
Conversational Platform [Allows a customer to tell us in their own words why they are contacting us, we map it to a list of intents and use that to route their contact to the appropriate queue – agent / team]
CCMP (Customer Contact Management Platform – this is the insourcing of our entire telephony network from BT)
Identity & Trust

Our modern channel management infrastructure will enable us to reduce the number of DWP contact numbers from 150 to 1, with customers being directed to the agent best able to support their enquiry first time.
CCMP
Conversational Platform
DWP Customer Needs [new application to capture and manage a customer’s underlying needs and related processes]
(reduces our costs to serve – at a channel level, a customer comms level)
We will deliver modern identity services that enable our customers to interact with us quickly yet securely through their channel of choice with the level of assurance required reflecting the complexity of the transaction. The more our customers successfully interact with our services the more we will trust them, simplifying the identity interaction still further.
DTH (Dynamic Trust Hub – underpins the Identity and Verification services)
TIDV (Telephony Identification & Verification – supports a customer to prove their identity when they call us)
OIDV (Online Identification & Verification - supports a customer to prove their identity when they go online and use our digital services)
ATE (Automated Telephony Excellence – next stage of our identity capability. Allows a customer to register for and create a voice print / biometric, so their voice acts as their password and they do not need to answer security questions through TIDV. Initially this will be deployed on the telephony channel but it could be used on digital channels too)
Customers will be able to move between channels as needed to continue and complete their enquiry, without the need to ‘start again’
CCMP
CEH (Citizen Event History - some form of an interaction / engagement / contact history for a customer, creating a single record across all their benefits. Reduces the dependency on Notes and allows agents to understand what has happened in previous contacts and across benefits. May also incorporate data from the events platform)
Colleague View
Customer View
</p>

        <h3 class="govuk-heading-s">
          To get there we will:
        </h3>

        <p>Move the actual projects down here.</p>


      <nav class="app-pagination" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
          <li class="app-pagination__item app-pagination__item--previous">
            <a href="#" class="govuk-link app-pagination__link" rel="prev">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Previous
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Page 1 title
              </span>
            </a>
          </li>
          <li class="app-pagination__item app-pagination__item--next">
            <a href="#" class="govuk-link app-pagination__link" rel="next">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Next
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Page 3 title
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
